@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

/* Preline UI */
@source "../node_modules/preline/dist/*.js";
@import "../node_modules/preline/variants.css";

@plugin "flyonui" {
    themes: light --default, dark --prefersdark;
}

@import "../node_modules/flyonui/variants.css"; 
@config "../tailwind.config.mjs";

.active-button {
    @apply bg-stone-200;
}
