@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/monoton/v19/5h1aiZUrOngCibe4TkHLRw.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

.page-title {
  font-family: 'Monoton' !important;
  font-weight: 200!important;
  font-size: 20px!important;
}

.open-sans-font {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
}

.poppins-font {
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
}

.disabled {
  pointer-events: none;
  opacity: 0.8;
}

.loading:before {
    opacity: 1;
    content: "";
    z-index: 1001;
    display: inline-block;
    height: 1rem!important;
    width: 1rem!important;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid white;
    border-color: white transparent white transparent;
    animation: loading-ring 1.2s linear infinite;
}

@keyframes loading-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}