{% if uuid is not empty %}
    {% set route = service('routes').getRouteDetails(uuid) %}
{% endif %}
{% if method is not empty and path is not empty %}
    {% set route = service('routes').getRoute(method,path) %}
{% endif %}
<div class="{{ class|default('mt-4') }}">
    <h4>{{ title }}</h4>
    <table class="{{ theme.table.details }}">
        <thead>
            <tr>
                <th class="w-1/3"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>           
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.method }}</td>
                <td>{{ route.method }}</td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.path }}</td>
                <td>{{ route.pattern }}</td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.name }}</td>
                <td>{{ route.name }}</td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.status }}</td>
                <td>
                    {{ component('system:admin.status.icon',{ status: route.status }) }}            
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.controller }}</td>
                <td>
                    <div class="badge badge-sm badge-outline">
                        {{ route.handler_class }}
                    </div>                
                    <div class="badge badge-outline badge-sm badge-info">
                        {{ route.handler_method }}
                    </div>
                </td>
            </tr>     
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.middlewares }}</td>
                <td>        
                    {% set middlewares = route.middlewares|jsonDecode(false) %}
                    {% if middlewares|length > 0 %}
                    <div class="ui list">
                        {% for item in middlewares %}
                        <div class="item">
                            {{ item }}
                        </div>
                        {% endfor %}
                    </div>      
                    {% else %} 
                        {{ labels.empty }}
                    {% endif %}          
                </td>
            </tr>
        </tbody>
    </table> 
</div>