
{% set disabled = getConfigOption('settings/disableInstallPage',false) %}
{% set db_host = getConfigOption('db/host') %}
{% set db_name = getConfigOption('db/database') %}
{% set db_driver = getConfigOption('db/driver') %}

{% if disabled == false %}
    <form class="form" id='install_form'>
        <div class="{{ theme.form.fields }}">
            <div class="{{ theme.form.field }}">
                <label class="{{ theme.form.label }}">
                    {{ fields.host.label }}
                </label>              
                <input 
                    disabled
                    class="{{ theme.form.input }}"
                    type="text" 
                    id="host" 
                    name="host" 
                    value="{{ db_host }}">                           
            </div>
            <div class="{{ theme.form.field }}">
                <label class="{{ theme.form.label }}">
                    {{ fields.type.label }}
                </label>
                <div class="badge badge-outline">
                    {{ db_driver }}
                </div>
            </div>
        </div>
        <div class="{{ theme.form.fields }}">
            <div class="required {{ theme.form.field }}">
                <label class="{{ theme.form.label }}">
                    {{ fields.database.label }}
                </label>
                <input 
                    class="{{ theme.form.input }}"
                    type="text" 
                    name="database" 
                    id="database" 
                    value="{{ db_name }}">
            </div>        
        </div>  
        <div class="{{ theme.form.fields }}">
            <div class="required {{ theme.form.field }}">
                <label class="{{ theme.form.label }}">
                    {{ fields.user.label }}
                </label>
                <input 
                    class="{{ theme.form.input }}"
                    type="text" 
                    name="username" 
                    id="username" 
                    value="">
            </div>
            <div class="required {{ theme.form.field }}">
                <label class="{{ theme.form.label }}">
                    {{ fields.password.label }}
                </label>
                <input 
                    class="{{ theme.form.input }}"
                    type="text" 
                    name="password" 
                    id="password" 
                    value="">
            </div>
        </div>      
        {{  component('system:form.footer',{ 
                button_class: 'blue large button install-button',
                button_title: buttons.install 
            }) 
        }}
    </form>    
    <div class="mt-1 hidden" id="progress_content">
        <div class="ui progress install-progress" data-value="0" id="main_progress">
            <div class="blue bar">
                <div class="progress"></div>
            </div>
            <div class="label">{{ labels.core }}</div>
        </div>
        <div class="ui progress indicating active install-progress mini" id="install_progress">
            <div class="bar"></div>       
            <div class="label"></div>
        </div> 
    </div>
{% else %}   
    <div class="alert alert-warning">
        {{ labels.disabled }}
    </div>
{% endif %}