{% import systemMacro("pagination.html") as pagination %}
{% set order_by = orderBy('date_created','desc') %}
{% set search = searchCondition(['all'],order_by) %}
{% set data = dbQueryPage("Logs",search) %}
<div class="ui stackable text menu">
    <div class="item aligned">
        {{ pagination.pageSizeMenu(data.paginator.per_page,page_size_menu) }}
    </div>
</div>
<table class="ui compact stackable striped very basic table">
    <thead>
        <tr>
            <th>{{ columns.date }}</th>
            <th>{{ columns.url }}</th>
            <th>{{ columns.method }}</th>    
            <th>{{ columns.user_agent }}</th>     
            <th>{{ columns.client_ip }}</th>           
        </tr>
    </thead>
    <tbody>
    {% for row in data.rows %}
        <tr>
            <td>{{ row.date_created|dateFormat }} {{ row.date_created|timeFormat }}</td>
            <td>{{ row.url }}</td>
            <td>{{ row.method }}</td>
            {% set user_agent = row.user_agent|split(' ') %}
            <td>
                <span data-tooltip="{{ row.user_agent }}" data-position="top left" class="user-agent-hint">{{ user_agent[0] }}</span>
            </td>
            <td>{{ row.ip_address }}</td>
        </tr>
    {% endfor %}
    {% if data.rows is empty %}
        <tr>
            <td colspan="5">{{ messages.empty }}</td>
        </tr>
    {% endif %}
    </tbody>  
</table>
<div class="margin-top-1">
    {{ component("system:paginator",data.paginator) }}
</div>