<div class="ui stackable grid">    
    <div class="ui sixteen wide column">
        <div class="ui stackable top attached tabular menu">           
            <a id="user_settings_button" class="item tab-item active {{ links.user.class }}" {{ links.user.title|attr("title") }} component="system:admin.settings.user">
                <i class="icon user"></i>{{ links.user.content }}   
            </a> 
            <a id="date_time_button" class="item tab-item {{ links.date.class }}" {{ links.date.title|attr("title") }} component="system:admin.settings.date-time">
                <i class="icon calendar"></i>{{ links.date.content }}   
            </a>   
            <a id="numbers_button" class="item tab-item {{ links.numbers.class }}" {{ links.numbers.title|attr("title") }} component="system:admin.settings.numbers">
                <i class="icon table"></i>{{ links.numbers.content }}   
            </a> 
            <a id="numbers_button" class="item tab-item {{ links.mailer.class }}" {{ links.mailer.title|attr("title") }} component="system:admin.settings.mailer">
                <i class="icon mail outline"></i>{{ links.mailer.content }}   
            </a> 
            <a id="numbers_button" class="item tab-item {{ links.logger.class }}" {{ links.logger.title|attr("title") }} component="system:admin.settings.logger">
                <i class="icon tasks"></i>{{ links.logger.content }}   
            </a>  
            <a id="numbers_button" class="item tab-item {{ links.theme.class }}" {{ links.theme.title|attr("title") }} component="system:admin.settings.theme">
                <i class="icon paint brush"></i>{{ links.theme.content }}   
            </a>        
            <a id="numbers_button" class="item tab-item {{ links.system.class }}" {{ links.system.title|attr("title") }} component="system:admin.settings.system">
                <i class="icon server alternate outline"></i>{{ links.system.content }}   
            </a>        
        </div>
        <div class="ui active tab basic segment" id="tab_content">
        </div>
    </div>
</div>