<h4>
    {{ items|length }}
    {{ title }}
</h4>
<div class="{{ theme.grid.ten }}">
    {% for item in items %}
        {% set icon_name = package_name ~ '~' ~ item.full_name %}
        {% set icon_code = component(icon_name,{ size: 'h-20 w-20' },'svg') %}   
        {% if icon_code is not empty %}     
            <div class="{{ theme.card.default }}">  
                <div class="text-center">
                    {{ icon_code }}     
                </div>                              
                <div class="text-pretty font-bold text-xs">
                    {{ icon_name|trim() }}
                </div>                
            </div>    
        {% endif %}    
    {% endfor %}
</div>