{% set extension = execute("Packages\\Extension\\ExtensionsManager","getPackageProperties",{ name: extension_name }) %}

<div class="ui card {{ error|ifthen(1,'red') }}" id="{{ extension.name }}">     
    <div class="content">         
        {% if extension.installed == true %}
        <div class="ui left corner olive mini label {{ error|ifthen(1,'hidden') }}">
            <i class="icon checkmark"></i>
        </div>
        <div class="ui right floated slider checkbox change-status-button {{ error|ifthen(1,'hidden') }}" extension="{{ extension.name }}">
            <input name="status" {{ extension.status|ifthen(1,"checked") }} type="checkbox">
            <label></label>
        </div>    
        {% endif %}          
        <i class="left floated rounded big bordered icon {{ extension.icon }}"></i>           
        <div class="header margin-left-1">{{ extension.title }}</div> 

        <div class="meta">{{ extension.short_description }}</div>
        <div class="description padding-top-1">
            <p>{{ extension.description }}</p>              
        </div> 
        <div class="ui meta margin-top-1">
            <div class="ui horizontal label">               
            {{ text.version.content }} <span class="bold">{{ extension.version }}</span>
            </div>
        </div>
        {% if error == 1 %}
        <div class="ui meta margin-top-1">
            <div class="ui mini error message">
                {{ messages.error }}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="extra content">
        <div class="ui mini fluid basic buttons"> 
            {% if extension.installed == true %}        
                {% if error != 1 %}  
                <button class="ui button basic olive install-button" extension="{{ extension.name }}">
                    <i class="icon refresh"></i>
                    {{ text.buttons.update.content }}
                </button> 
                {% endif %}
                <button class="ui icon basic button orange un-install-button {{ error|ifthen(1,'fluid') }}" extension="{{ extension.name }}">
                    <i class="icon trash"></i>
                    {{ text.buttons.uninstall.content }}
                </button> 
            {% else %}
            <button class="ui button basic olive install-button {{ error|ifthen(1,'hidden') }}" extension="{{ extension.name }}">
                <i class="icon download"></i>                    
                {{ text.buttons.install.content }}
            </button> 
            {% endif %}
            <button class="ui toggle mini button details-button {{ error|ifthen(1,'hidden') }}" extension="{{ extension.name }}">
                <i class="icon list layout"></i>                    
                {{ text.buttons.details.content }}
            </button>  
        </div>
    </div>
</div>