{% set extension = package('extension').getPackageProperties(extension_name) %}
{% set primary_style = (extension.primary == 1) ? 'green' : '' %}
{% set thumbnail_src = (extension.thumbnail is not empty) ? getExtensionViewUrl(extension_name,'/images/' ~ extension.thumbnail) : null %}  
{% set icon_name = extension.get('admin-menu').svg_icon|default('icons~puzzle') %}
<div 
    class="h-full {{ theme.card.default }} {{ error|ifthen(1,'red') }} {{ primary_style }}">     
    <div class="flex flex-row items-center">    
        <div class="pl-1">
            {{ component(icon_name,theme.icons.blue,'svg') }}           
        </div>                                                 
        <div class="font-bold mt-1 px-1 flex-grow">
            {{ extension.title }}
        </div>          
        {% if extension.type != 1 %}
            {{  component('system:form.fields.switch',{ 
                    switch_class: 'switch-xs switch-success enable-switch',                    
                    value: extension.status,
                    attributes: { 
                        extension: extension.name 
                    },
                    hide_label: true
                }) 
            }}
        {% endif %} 
    </div>       
    <div class="flex flex-col self-stretch p-2 flex-grow">
        <div class="px-1">
            {% if extension.primary == 1 %}     
                <div class="badge badge-xs badge-primary badge-outline">               
                    {{ labels.primary }}            
                </div>  
            {% endif %}
            <div class="badge badge-outline badge-xs">               
                {{ labels.version }} 
                <div class="font-bold">{{ extension.version }}</div>
            </div>  
            {% if extension.type == 1 %}
            <div class="badge badge-outline badge-xs badge-info">
                {{ labels.system }}      
            </div>      
            {% endif %} 
        </div>  
        <div class='self-stretch flex-grow mt-4'>
            <p>{{ extension.description }}</p>                     
            {% if error == 1 %}
            <div class="ui meta mt-1">
                <div class="alert alert-error alert-sm message">                    
                    {{ messages.error }}
                </div>
            </div>
            {% endif %}   
        </div>                 
    </div>        
    <div class="p-2">
        <div 
            class="alert alert-success alert-sm message opacity-0 m-2" 
            id="message_{{ extension.name }}">           
        </div>
    </div>       
    <div class="join flex flex-row items-center"> 
        {% if extension.installed == true %}        
            {% if error != 1 %}  
            <button 
                class="join-item {{ theme.buttons.green }} update-button {{ (demo_mode == true) ? 'disabled' : ''}}" 
                extension="{{ extension.name }}">
                {{ buttons.update.content }}
            </button> 
            {% endif %} 
            <button class="join-item {{ theme.buttons.default }} details-button {{ error|ifthen(1,'hidden') }}" extension="{{ extension.name }}" title="{{ buttons.detail.title }}">
                {{ buttons.details.content }}                                
            </button>               
            <button 
                class="join-item {{ theme.buttons.delete }} un-install-button {{ error|ifthen(1,'fluid') }} {{ (demo_mode == true) ? 'disabled' : ''}}" 
                extension="{{ extension.name }}"
                title="{{ buttons.uninstall.content }}">
               
                {{ buttons.uninstall.content }}                           
            </button>                                                   
        {% else %}          
            <button 
                class="join-item {{ theme.buttons.green }} install-button 
                {{ error|ifthen(1,'hidden') }} {{ (demo_mode == true) ? 'disabled' : ''}}" 
                extension="{{ extension.name }}">                
                {{ buttons.install.content }}
            </button> 
        {% endif %}           
    </div>   
</div>