{% if driver_name is not empty %}
    {% set driver = service('driver').getDriver(driver_name) %}
{% endif %}
{% set title = (driver is empty) ? title : driver.title %}

{% component 'system:admin.panel' %}
    {% if driver_name is empty %}
        <div class="mt-4">
            <h4 class="font-bold">
                {{ labels.driver }}
            </h4>
            {{  component('system:admin.drivers.dropdown',{ 
                    selected: driver_name, 
                    class: 'fluid',
                    category: category 
                }) 
            }}
        </div>           
    {% endif %}
    <div id="driver_config" class="mt-8">    
        {% if driver_name is not empty %}
            {{  component('system:admin.modules.drivers.config.form',{ 
                    driver_name: driver_name, 
                    update: update 
                }) 
            }}    
        {% endif %}
    </div>           
{% endcomponent %}