
{% import systemMacro("list.html") as list %}
<div class="ui card">
    <div class="content item"> 
        {% if module.status == true %}
            <i class="icon left floated checkmark olive" title="{{ labels.active }}"></i>
        {% else %}
            <i class="icon exclamation triangle red" title="{{ labels.error }}"></i> 
        {% endif %}       
        {{ module.title }} 
        <div class="ui right floated mini basic label">
            {{ labels.version }}
            <div class="detail">{{ module.version }}</div>
        </div>  
    </div>
    <div class="content">
        <div class="ui list">
            <div class="item">
                {{ module.description }}
            </div>
            <div class="item margin-top-1">
                <i class="icon code"></i>
                {{ module.class }}
            </div>
            <div class="item margin-top-1">
                {{ labels.packages }}
                <div class="margin-left-1">                      
                    {{ list.itemsList(module.requires,'archive') }}
                </div>
            </div>            
        </div>
        {% if module.bootable == true %}
        <div class="ui label mini blue basic">
            {{ labels.bootable }}
        </div>
        {% endif %} 
        {% if module.facade.alias is not empty %}
        <div class="ui label mini blue basic">
            {{ labels.facade }}
            <div class="detail">
                {{ module.facade.alias }}
            </div>
        </div>       
        {% endif %} 
    </div>
    <div class="extra content">
        {% if module.help.url is not null %}
        <a class="ui basic mini button" href="{{ module.help.url }}" target="_blank">
            <i class="icon info circle"></i>
            {{ labels.help }}
        </a>
        {% endif %}
    </div>
</div>