
{% import systemMacro("list.html") as list %}
{% if module is not iterable %}
{% set module = executeMethod('Module\\ModulesManager','getModuleDetails',{name:name}) %}
{% endif %}
<div class="ui card" id="{{ module.path }}">
    <div class="content item"> 
        {% if module.status == true %}
            {% if module.disabled == false %}
                <i class="icon left floated checkmark olive" title="{{ labels.active }}"></i>
            {% else %}
                <i class="icon left floated checkmark grey" title="{{ labels.disabled }}"></i> 
            {% endif %}
        {% else %}
            <i class="icon exclamation triangle red" title="{{ messages.error }}"></i>            
        {% endif %}
        {% if module.disabled == true %}
            <div class="ui left corner red mini label" title="{{ labels.disabled }}">  
                <i class="icon exclamation" title="{{ labels.disabled }}"></i>          
            </div>       
        {% endif %}
        {{ module.title }} 
        <div class="ui right floated mini basic label">
            {{ labels.version }}
            <div class="detail">{{ module.version }}</div>
        </div>  
    </div>
    <div class="content">
        <div class="ui list">
            <div class="item">
                {{ module.description }}
            </div>
            <div class="item margin-top-1">
                <i class="icon code"></i>
                {{ module.class }}
            </div>          
            <div class="item margin-top-1">
                {{ labels.packages }}
                <div class="margin-left-1">                      
                    {{ list.itemsList(module.requires,'archive') }}
                </div>
            </div>            
        </div>               
    </div>
    <div class="extra content">
        <div class="ui label mini blue basic">
            {{ labels.type }}
            <div class="detail dark-color">                    
                {{ module.type }}
            </div>
        </div>
        {% if module.bootable == true %}
        <div class="ui label mini blue basic">
            {{ labels.bootable }}
        </div>
        {% endif %} 
        {% if module.facade.alias is not empty %}
        <div class="ui label mini blue basic">
            {{ labels.facade }}
            <div class="detail dark-color">
                {{ module.facade.alias }}
            </div>
        </div>       
        {% endif %} 
    </div>   
    <div class="extra content">
        {% if module.error is not null %}
        <div class="ui label mini red basic">
            {{ labels.error }}
            <div class="detail dark-color">
                {{ module.error }}
            </div>
        </div> 
        {% else %}
        <br>
        {% endif %}
    </div>
    <div class="extra content">
        {% if module.help.url is not null %}
        <a class="ui basic mini button" href="{{ module.help.url }}" target="_blank">
            <i class="icon info circle"></i>
            {{ labels.help }}
        </a>
        {% endif %}
        <button class="ui basic mini button install-button" name="{{ module.path }}"> 
            <i class="icon download"></i>         
            {{ labels.update }}
        </button>
    </div>
</div>