{% set status = (status is not defined) ? null : status %}
{% set extensions = package('extension').getPackgesRegistry().getPackagesList({ status: status, type: type }) %}
{% for extension in extensions %}   
    {% if extension.admin_menu is not empty %}  
        {% set menu = extension.admin_menu %}  
        <div 
            class="{{ (menu.items is iterable) ? '' : 'admin-menu-link' }} border-0 border-b-2 border-gray-900 border-solid" 
            component="{{ menu.component }}" {{ extension.name|attr('extension') }} 
            page-icon="{{ menu['page-icon'] }}" 
            page-title="{{ menu['page-title'] }}">
            <div 
                class="px-5 py-2 flex flex-row items-center" 
                title="{{ extension.description }}">                              
                {% if menu.svg_icon is not empty %}
                    {{ component(menu.svg_icon,theme.icons.menu,"svg") }}   
                {% endif %}
                <span class="{{ theme.link.menu }} text-md tracking-wide pl-4 text-gray-300 sm:hidden lg:inline md:hidden">
                {{ menu.title }}
                </span>
            </div>            
        </div>
    {% endif %}
{% endfor %}