{% if template is empty %}
    {% set template = package('template').getPackageProperties(template_name,false) %}
{% endif %}
{% set show_requires = show_requires|default(false) %}
{% set show_buttons = show_buttons|default(true) %}
{% set primary_template = service('view').getPrimaryTemplate() %}

<div 
    class="{{ theme.card.default }} {{ class }}" 
    id="{{ template_name }}">    
    <div class="flex flex-row items-center">              
        {{ component(template.svg_icon|default('icons~template'),theme.icons.action,'svg') }}                     
        <div class="font-bold flex-grow ml-2">
            {{ template.title }}   
        </div>  
        {% if template.name == system_template_name %}
        <div class="badge badge-xs badge-info mx-2">  
            {{ labels.system }}  
        </div>
        {% endif %}
        {% if template.name == primary_template %}
        <div class="badge badge-xs badge-success primary-label">  
            {{ labels.primary }}  
        </div>
        {% endif %}                      
    </div>
    <div
        style="overflow-y: clip;"
        class="h-full mt-4">      
        {% set src = (template.thumbnail is not empty) ? getTemplateUrl(template_name) ~ '/images/' ~ template.thumbnail : null %}     
        {{  component('system:admin.templates.template.image',{ 
                src: src 
            }) 
        }}                            
    </div>              
    <div class="p-2">
        <div class="alert alert-success alert-xs message opacity-0 m-2" 
        id="message_{{ template.name }}"></div>
    </div> 
    {% if show_requires == true %}
    <div class="content">       
        {% set package = package('template').createPackage(template_name) %}
        {% set items = package.validator.validate() %}       
        {{ component('system:admin.packages.requires',{ items: items }) }}               
    </div> 
    {% endif %}
    {% if show_buttons == true %}  
    <div class="extra content">
        <div class="join flex flex-row items-center px-1">                             
            {% if template.name != system_template_name %}
                <button class="join-item {{ theme.buttons.green }} update-button {{ (demo_mode == true) ? 'disabled' : '' }}" template="{{ template.name }}">
                    <i class="icon green refresh"></i>
                    {{ buttons.update.content }}
                </button>
                {% set disabled = (template.name == primary_template) ? 'disabled' : '' %}                 
                <button class="join-item {{ theme.buttons.default }} set-primary {{ disabled }} {{ (demo_mode == true) ? 'disabled' : '' }}" template="{{ template.name }}">
                    <i class="icon blue angle double up"></i>      
                    {{ buttons.primary.content }}
                </button>                                     
            {% endif %}    
            <button 
                class="join-item {{ theme.buttons.default }} details-button" 
                template="{{ template.name }}" 
                title="{{ buttons.details.content }}">
                {{ component('icons~list',theme.icons.action,'svg') }}                     
            </button>
        </div>
    </div>
    {% endif %}
</div>      