{% set user = createModel('Users','getControlPanelUser') %}
<div class="ui fluid raised card login-form margin-top-4">   
    <div class="content">
        <h3 class="ui dividing header">
        {{ title }}
        </h3>
        <form class="ui form" id="login_form" method="post">
            <div class="field">
                <label>{{ user_name.label }}</label>
                <div class="ui left icon input">
                    <i class="icon user"></i>
                    <input type="text" name="user_name" id="user_name" {{ user_name.placeholder|attr("placeholder") }}>    
                </div>
            </div>
            <div class="field">
                <label>{{ password.label }}</label>
                <div class="ui left icon input">
                    <i class="icon lock"></i>
                    <input type="password" name="password" id="password" {{ password.placeholder|attr("placeholder") }}>    
                </div>
            </div>                        
            <button class="ui fluid large primary button login-button">{{ buttons.login.title }}</button>     
            <div class="ui error no-border padding-top-0 padding-bottom-0 message mini form-errors"></div>            
        </form>
    </div>    
</div>
<div class="ui horizontal list">
    {% if user.email != false %}        
        <div class="item">            
            <a class="inline" id="forgotten_button">
                <i class="unlock alternate icon"></i>                
                {{ links.forgotten }}
            </a>
        </div>
    {% endif %}
</div>