{% set event = createModel('Events').findById(uuid) %}
{% set subscribers = event.subscribers() %}
{% component 'system:admin.panel' %}   
    <div class="mt-4">
        <table class="{{ theme.table.details }}">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="">{{ labels.id }}</td>
                    <td>{{ event.uuid }}</td>
                </tr>
                <tr>
                    <td class="">{{ labels.name }}</td>
                    <td>{{ event.name }}</td>
                </tr>
                <tr>
                    <td class="">{{ labels.description }}</td>
                    <td>
                        <div class="font-bold">{{ event.title }}</div>
                        <p>
                            {{ event.description }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="">{{ labels.status }}</td>
                    <td>
                        {{ component('system:admin.status.label',{ status: event.status }) }}
                    </td>
                </tr>
                <tr>
                    <td class="">{{ labels.extension }}</td>
                    <td>
                        {% set name = (event.extension_name is empty) ? 'core' : event.extension_name %}
                        <div class="badge badge-outline badge-sm">
                            {{ name }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        {% if event.properties is not empty %}
            <h5>
                {{ labels.properties }}
            </h5>
            <div>
                {{ component('system:admin.properties.details',{ properties: event.properties }) }}
            </div>
        {% endif %}
        <h4 class="font-bold mt-4">          
            {{ labels.subscribers }}
        </h4>
        <div class="{{ theme.list.default }}">
            {% if subscribers|length == 0 %}
                <div class="px-2">..</div>
            {% endif %}
            {% for item in subscribers %}
                <div class="flex flex-row items-center">
                    <div class="badge badge-outline badge-sm">
                        {{ labels.priority }}
                        <div class="font-bold">
                            {{ item.priority }}
                        </div>               
                    </div>
                    <div class="ml-2 badge badge-outline badge-sm">
                        {{ labels.extension }}
                        <div class="font-bold">
                            {{ item.extension_name }}
                        </div>
                    </div>                             
                </div>
                <div class="mt-4 flex flex-row items-center">              
                    {{ component('system:admin.status.label',{ status: item.status }) }}
                    <div class="ml-2">
                          {{ item.handler_class }}
                    </div>                  
                    {% if item.handler_method is not empty %}
                    <div class="badge badge-outline badge-success badge-sm">
                        {{ item.handler_method }}
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endcomponent %}