<div class="{{ class }}">
    <div class="font-bold">      
        {{ labels.info }}
    </div>
    {% set system_info = system.getInfo() %}                   
    <div class="{{ theme.list.flush }}">
        <div class="flex flex-row items-center">
            <div>
                {{ labels.os }}
            </div>           
            <span class="font-bold ml-4">
                {{ system_info.os_name }}
            </span>
        </div>
        <div class="flex flex-row items-center">
            <div>
                {{ labels.user }}
            </div>          
            <span class="font-bold ml-4">
                {{ system_info.current_user }}
            </span>                           
        </div>
        <div class="flex flex-row items-center">
            <div>
                {{ labels.id }}
            </div>           
            <span class="font-bold ml-4">{{ system_info.user_id }}</span>                            
        </div>
    </div>
</div>