{% set library = package('components').getPackageProperties(library_name,true) %}
{% set library_params = (params[library_name] is empty) ? library.params : params[library_name] %}

<div class="flex flex-row items-start">    
    <div class="w-1/3 {{ theme.panel }}">
        <div class="flex flex-row items-center">
            {{ component('icons~cube',{ size: 'h-12 w-12', color: 'text-blue-500' },'svg') }}   
            <div class="ml-2 flex flex-col font-bold text-lg">
                {{ library.title|default(library.name) }} 

                <div class="mt-2 badge badge-xs badge-outline">
                    {{ labels.version }}
                    <div class="font-bold">
                        {{ library.version }}
                    </div>
                </div>  
            </div>                          
        </div> 
          
        <div class="mt-2">
            {{ library.description }}
        </div>    
        {% if library.framework == true %}                              
        <div class="ui mini basic blue label">
            {{ labels.framework }}
            {% if current_framework == library.name %}                        
                <span class="text-gray-800">{{ labels.current }}</span>                        
            {% endif %}
        </div>              
        {% endif %}   
        {% if library.async == true %}
        <div class="badge badge-xs badge-info">Async</div>
        {% endif %}
        {% if library.crossorigin is not empty %}
        <div class="badge badge-sm badge-outline">
            <span class="text-gray-900">
                {{ labels.crossorigin }}
            </span>    
            {{ library.crossorigin }}
        </div>
        {% endif %}                                                   
        
        {% set package = package('components').createPackage(library_name) %}
        {% set items = package.validator.validate() %}  
        {% if items.count > 0 %}
            <div class="mt-1">                                   
                {{ component('system:admin.packages.requires',{ items: items }) }}                                                                       
            </div> 
        {% endif %}            
    </div>
    <div class="h-full ml-4 w-2/3 {{ theme.panel }}">       
        {{  component('system:admin.packages.repository',{ 
                type: 'components', 
                package_name: library.name, 
                repository_name: library.get('repository'),
                repository_type: library.get('repository-type',null),
                installed_version: library.version   
            }) 
        }}                                              
    </div>   
</div>
<div class="mt-4 {{ theme.panel }}">  
    {% if library.get('type') == 'icons' %} 
        {{ component('system:admin.libraries.components.icons',{ items: library.components, package_name: library_name }) }} 
    {% else %}
        <h4>
            {{ labels.components }}
        </h4> 
        {{ component('system:admin.component',{ components: library.components, library: library_name }) }} 
    {% endif %}
</div>

