{% set items = service('logger').getHandlerNames() %}
{% set id = id|default('logger_type_dropdown') %}
{% set selected = getConfigOption('settings/loggerHandler') %}

<select 
    class="select {{ class }} logger-type-dropdown" 
    id="{{ id }}">
    {% if selected is empty %}
        <option 
            disabled
            class="text-gray-100" 
            {{ (selected is empty) ? 'selected' : '' }} 
            value="">             
            {{ labels.empty }}
        </option> 
    {% endif %}
    {% for item in items %}            
        <option 
            class=""
            {{ item|ifthen(selected,'selected') }}
            value="{{ item }}">             
            {{ handlers[item] }}
        </option>   
    {% endfor %}   
</select>