<select 
    uuid="{{ uuid }}"
    {{ attributes|attr() }}
    class="select select-sm {{ class }} log-message-type-dropdown" 
    id="{{ id|default('log_message_type_dropdown') }}">
    {% if show_all == true %}
        <option             
             {{ (selected is empty) ? 'selected' : '' }} 
            value="">          
            {{ labels.all }}   
        </option>  
    {% endif %}
    
    {% for key, value in items %}                  
        <option             
            {{ key|ifthen(selected,'selected') }}
            value="{{ key }}">          
            {{ items[key] }}     
        </option>  
    {% endfor %}   
</select>
