{{  component('system:admin.tabs',{ 
        items: [ 
            { 
                title: labels.view.content, 
                component: 'system:admin.templates.view', 
                svg_icon: 'icons~list', 
                active: true 
            },
            { 
                title: labels.details.content, 
                component: 'system:admin.templates.template.details', 
                svg_icon: 'icons~info' 
            },           
            { 
                title: labels.upload.content, 
                component: 'system:admin.packages.upload', 
                svg_icon: 'icons~upload', 
                params: "title: labels.upload" 
            }
        ],
        content: { 
            component: 'system:admin.templates.view' 
        } 
    })
}}