{% if driver_name is not empty %}
    {% set driver = service('driver').getDriver(driver_name) %}
{% endif %}
{% component 'system:admin.panel' %}
    <table class="{{ theme.table.details }}">
        <tbody>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.uuid }}</td>
                <td>
                    <div class="badge badge-outline badge-sm">{{ driver.id }}</div>
                    {{ driver.uuid }}
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.status }}</td>
                <td>
                    {{ component('system:admin.status.label',{ status: driver.status }) }}
                </td>
            </tr>    
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.name }}</td>
                <td>{{ driver.name }}</td>
            </tr>   
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.title }}</td>
                <td>{{ driver.title }}</td>
            </tr>   
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.description }}</td>
                <td>{{ driver.description }}</td>
            </tr>  
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.version }}</td>
                <td>{{ driver.version }}</td>
            </tr>  
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.class }}</td>
                <td>{{ driver.class }}</td>
            </tr>   
            {% if driver.module_name is not empty %} 
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.module }}</td>
                <td>{{ driver.module_name }}</td>
            </tr>   
            {% endif %}  
            {% if driver.extension_name is not empty %} 
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.extension }}</td>
                <td>{{ driver.extension_name }}</td>
            </tr>   
            {% endif %}    
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.category }}</td>
                <td>
                    <div class="badge badge-outline badge-sm">
                        {{ driver.category }}
                    </div>
                </td>
            </tr>                                             
        </tbody>
    </table>          
{% endcomponent%}