{% set icon = icon|default('folder') %}
<div class="{{ theme.list.default }} {{ class }}">
    {% for item in items %}
        {% if item is iterable %}
            <div class="flex flex-row items-center">          
               
                <div class="px-2">                                
                    {{ item.title }}  
                </div>           
            </div>
            {{ component('system:admin.list.folder',{ items: item.items, icon: icon, class: class }) }}
        {% else %}
            <div class="flex flex-row items-center">               
                <div class="px-2">                                       
                    {{ item }}   
                </div>      
            </div>
        {% endif %}
    {% endfor %}
</div>