{% set extension = package('extension').getPackageProperties(extension_name,true) %}
{% set package = package('extension').createPackage(extension_name) %}
{% set icon_name = extension.get('admin-menu').svg_icon|default('icons~puzzle') %}

<div class="grid grid-cols-2 gap-4 items-strech">
    <div class="w-full">
        <div class="{{ theme.panel }}">
            <div class="p-4">
                {{ component(icon_name,{ size: 'h-20 w-20', color: 'text-blue-500' },'svg') }}                           
                <div class="p-4">
                    <h3>
                        {{ extension.title }} 
                    </h3>                 
                    <div class="badge badge-outline badge-sm">
                        {{ labels.version }}
                        <div class="font-bold">
                            {{ extension.version }}
                        </div>
                    </div>
                    {% if extension.primary == 1 %}     
                    <div class="badge badge-primary primary-label">               
                        {{ labels.primary }}            
                    </div>  
                    {% endif %}
                    <div class="text-lg">
                        {{ extension.description }}
                    </div>
                </div> 
            </div>
        </div>        
        {% set items = package.validator.validate() %}  
        {% if items.count > 0 %}
            <div class="mt-4">                   
                <div class="{{ theme.panel }}">
                    {{ component('system:admin.packages.requires',{ items: items }) }}     
                </div>                                                        
            </div> 
        {% endif %}    
    </div>
    <div class="h-full {{ theme.panel }}">
        {{  component('system:admin.packages.repository',{ 
                type: 'extension', 
                package_name: extension.name,
                repository_name: extension.get('repository'),
                repository_type: extension.get('repository-type',null),
                installed_version: extension.version 
            }) 
        }}
    </div>   
</div>
<div class="mt-4">
    {{  component('system:admin.tabs.vertical',{ 
            items: tabs|renderParams({ extension_name: extension_name }),
            content: {
                id: 'extension_items_tab_content',
                component: 'system:admin.routes',
                params: {
                    extension_name: extension_name
                }
            }
        }) 
    }}
</div>
