<div class="bg-gray-800 shadow p-4">
    <div {{ brand.title|attr('title') }} class="ml-1">           
        <div class="flex flex-row items-center self-center pt-1">
            <div class="self-center">
                <img
                    class="pt-1" 
                    width="28px" 
                    height="28px" 
                    alt="{{ brand.image.alt }}" 
                    src="{{ template_url }}/images/{{ brand.image.src }}">
            </div>           
            <div class="text-white px-4 page-title">Arikaim</div> 
        </div>
    </div>           
</div>