<div class="ui grid segment">
    <div class="one wide right aligned column">
        <div class="font-bold pt-2">
            {{ labels.theme }}
        </div>
    </div>
    <div class="two wide column">       
       {{ component('system:admin.templates.dropdown',{ selected: template_name, class: 'fluid' }) }}
    </div>                
</div>    
<div class="ui horizontal divider"></div>
<div id="template_details">   
{% if template_name is not empty %}  
    {{ component("system:admin.templates.template.details.tabs",{ template_name : template_name }) }}
{% endif %}
</div>