{% set items = service('cache').getSupportedDrivers() %}
{% set driver_name = getConfigOption('settings/cacheDriver') %}
{% set selected = items[driver_name]|split('\\')|last %}
{% set empty_label = empty_label|default(text.status) %}

<select 
    uuid="{{ uuid }}"
    class="select {{ class }}" 
    id="cache_driver_dropdown">
    {% if selected is empty %}
      <option 
            disabled
            class="text-gray-100" 
            {{ (selected is empty) ? 'selected' : '' }} 
            value="">             
            {{ empty_label }}
        </option> 
    {% endif %}

    {% for name, class in items %}     
        {% set handler = class|split('\\')|last %}            
        <option         
            {{ handler|ifthen(selected,'selected') }}
            value="{{ name }}">             
            {{ handler }}
        </option>   
    {% endfor %}   
</select>
