<div class="{{ theme.panel }}">
    <table class="{{ theme.table.default }}">
        <thead>
            <tr>
                <th class="collapsing">{{ columns.config }}</th>  
                <th class="two wide">{{ columns.status }}</th>                                
                <th class="two wide">{{ columns.name }}</th>  
                <th class="one wide">{{ columns.category }}</th>
                <th class="two wide">{{ columns.title }}</th>                                                                 
            </tr>
        </thead>
        <tbody 
            id="drivers_rows" 
            component="system:admin.modules.drivers.view.rows" 
            namespace="drivers">
            {{ component('system:admin.modules.drivers.view.rows') }}
        </tbody>
    </table>
</div>
<div id="paginator" class="bottom-0">
    {{ component("semantic~paginator",{ namespace: 'drivers' }) }}
</div>
