{% set items = package('template').getPackages() %}
{% set primary_templ = getConfigOption('settings/primaryTemplate') %}

<div class="mt-4 {{ theme.grid.five }} items-strech">
    {% for template in items %}
        <div 
            id="id_{{ template }}" 
            class="h-full">
            {{  component("system:admin.templates.template",{ 
                    template_name: template,
                    primary_templ: primary_templ
                }) 
            }}
        </div>    
    {% endfor %}
</div>