{% set data = service("config") %}
<div class="item">
    <div class="middle aligned content">
        <i class="large icon server middle aligned"></i>   
        <div class="header">{{ labels.requirements.content }}</div>
        <div class="description ml-2">
            <div class="ui list">
            {% for item in requirements.items %}
                <div class="item">
                {% if item.status == 1 %}
                    <i class="icon checkmark olive"></i>
                {% elseif item.status == 0 %}
                    <i class="icon warning sign red"></i>
                {% elseif item.status == 2 %}
                    <i class="icon warning circle orange"></i>
                {% endif %}
                    {{ item.message }}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="item">
    <i class="large icon database middle aligned"></i>
    <div class="middle aligned content">
        
        <div class="header">{{ labels.database.content }}</div>
        <div class="meta">
            <span>{{ labels.database.sub_title }}</span>
        </div>
        <div class="description">            
            <form class="ui segment form" id='install_form'>
                <div class="field">
                    <label>{{ fields.host.label }}</label>
                    {{ data.db.host }}
                </div>
                <div class="field">
                    <label>{{ fields.type.label }}</label>
                    {{ data.db.driver }}
                </div>
                <div class="field">
                    <label>{{ fields.database.label }}</label>
                    <input type="text" name="database" id="database" value="{{ data.db.database }}">
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>{{ fields.user.label }}</label>
                        <input type="text" name="username" id="username" value="{{ data.db.username }}">
                    </div>
                    <div class="field">
                        <label>{{ fields.password.label }}</label>
                        <input type="text" name="password" id="password" value="{{ data.db.password }}">
                    </div>
                </div>
                <div class="ui hidden divider"></div>
                {{ component("system:progress-bar") }}   
                <div class="ui hidden divider"></div>   
                <button class="ui button blue large submit-button" id="install_button">{{ buttons.install.content }}</button>               
                <div class="ui error message mini errors"></div>      
            </form>                           
        </div>      
        <div class="ui message success hidden" id="done_message">           
            <div class="header">
                {{ messages.installed }}
            </div>           
        </div>             
        <a class="ui button olive large mt-1" id="continue_button">{{ buttons.continue.content }}</a>     
    </div>
</div>