<div class="ui pagination menu">
    {% if current_page > page_links %}
    <div class="item page-link link" page="1">
        <i class="ui icon angle double left"></i>
    </div>
    <div class="item page-link link" page="{{ prev_page }}">
        <i class="ui icon angle left"></i>
    </div>
    {% endif %}
    {% for index in from..to %}
    <div class="item page-link link {{ index|ifthen(current_page,'active') }}" page="{{ index }}">
        {{ index }}
    </div>
    {% endfor %}
    {% if end_page > page_links %}
    <div class="item page-link link" page="{{ next_page }}">
        <i class="ui icon angle right"></i>
    </div>
    <div class="item page-link link" page="{{ last_page }}">
        <i class="ui icon angle double right"></i>
    </div>
    {% endif %}
</div>