<div class="flex flex-col items-stretch" style="height: calc(100vh - calc(100vh - 100%))">
    {{ component('system:navbar',{ active: active }) }} 
    <div
        class="h-screen flex flex-row self-stretch items-stretch grow {{ theme.page.content }}">  
        {{ component('system:admin.menu',{ active: active }) }}     
        <div                  
            class="md:pl-48 sm:pl-14 xs:pl-14 w-full pb-4 h-full pt-14 xs:pr-4 sm:pr-4 md:pr-8 pr-8 lg:pr-8" 
            id="tool_content">
            {% if hasExtension('dashboard') == true %}
                {{ component('dashboard::admin') }}
            {% endif %}                           
        </div>    
    </div> 
</div>      
{{ component('system:toast',{ id: 'toast' }) }}   
{{ component('system:loader',{},'html') }}   