{% set items = package('module').getPackages(true) %}
{% set selected_text = (selected is empty) ? labels.select : selected %}

<select 
    class="{{ theme.form.select }} {{ class }} modules-dropdown {{ size }}" 
    id="{{ id|default('modules_dropdown') }}">
        <option 
            disabled
            class="text-gray-100" 
            {{ (selected is empty) ? 'selected' : '' }} 
            value="">             
            {{ labels.select }}
        </option> 
    
    {% for item in items %}    
        {% if item not in skip %}    
            {% set package = package('module').createPackage(item).getProperties() %}    
            <option 
                class=""
                {{ package.name|ifthen(selected,'selected') }}
                value="{{ package.name }}">             
                {{ package.title }}
            </option>  
        {% endif %} 
    {% endfor %}   
</select>
