{% set items = service('driver').getList(category) %}
{% set id = id|default('drivers_dropdown') %}
{% set name = name|default('driver') %}
{% set empty_label = empty_label|default(labels.default) %}

{% if selected is not empty %}
    {% set selected = service('driver').getDriver(selected) %}
{% endif %}

<select 
    name="{{ field_name|default('driver') }}"
    class="select {{ class }} drivers-dropdown" 
    id="{{ id }}">
        <option 
            disabled
            class="text-gray-100" 
            {{ (selected is empty) ? 'selected' : '' }} 
            value="">             
            {{ labels.default }}
        </option> 
    
    {% for item in items %}            
        <option 
            {{ item.name|ifthen(selected.name,'selected') }}
            value="{{ item.name }}">             
            {{ item.title }}
        </option>   
    {% endfor %}   
</select>
