<div 
    id="tree_item_{{ item.id }}"
    class="hs-accordion" 
    role="treeitem" 
    aria-expanded="true" 
    data-value="{{ item[data_field] }}"
    data-hs-tree-view-item='{        
        "value": "{{ item.title }}",
        "isDir": {{ (item.items|length > 0) ? 'true' : 'false' }}
    }'>
        <div 
            class="hs-accordion-heading py-0.5 rounded-md flex items-center gap-x-0.5 w-full hs-tree-view-selected:bg-gray-100 dark:hs-tree-view-selected:bg-neutral-700">
            <button 
                class="hs-accordion-toggle size-6 flex justify-center items-center hover:bg-gray-100 rounded-md focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
                aria-expanded="true" 
                aria-controls="asset_content">
                {% if (item.items|length > 0) %}
                    {{ component('icons~plus',theme.icons.gray,'svg') }}
                {% else %}
                   
                {% endif %}
            </button>
            <div 
                class="grow hs-tree-view-selected:bg-gray-100 dark:hs-tree-view-selected:bg-neutral-700 px-1.5 rounded-md cursor-pointer">
                <div class="flex items-center gap-x-3">
                    {{ component(icon,theme.icons.gray,'svg') }}
                    <div class="grow">
                        <span class="text-sm text-gray-800 dark:text-neutral-200">
                        {{ item.title }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {% if item.items|length > 0 %}
            <div 
                id="asset_content" 
                class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" 
                role="group" 
                aria-labelledby="tree_item_{{ item.id }}">                       
                {{  component('system:admin.view.tree.items',{ 
                        items: item.items,
                        data_field: data_field,
                        icon: icon 
                    }) 
                }}                                   
            </div>
        {% endif %}
</div>