{% set library = package('components').getPackageProperties(library_name) %}
<div 
    class="h-full {{ theme.card.default }}" 
    id="library_{{ library_name }}">  
    <div class="flex flex-row items-center">           
        {{ component('icons~cube',theme.icons.action,'svg') }}      
        <div class="ml-2 font-bold">
            {{ library.title }} 
        </div>
    </div>
    <div class="mt-2 flex flex-row items-center">
        <div class="badge badge-outline badge-xs">               
            {{ labels.version }} 
            <div class="font-bold">{{ library.version }}</div>
        </div>
        {% if library.help is not empty %}
        <a 
            class="badge badge-outline badge-sm" 
            href="{{ library.help }}" 
            target="_blank">                                        
            <span class="link">{{ labels.help }}</span>                          
        </a>
        {% endif %}
    </div> 
    <div class="my-2 flex flex-col h-full">  
        <p>
            {{ library.description }}        
        </p>         
    </div>
    <div class="mt-2 flex flex-row items-center">
        <button 
            class="{{ theme.buttons.default }} components-details" 
            library-name="{{ library.name }}">         
            {{ labels.details }}
        </button>
        <div class="flex-grow">
        </div>
        {% if library.repository is not empty %}
        <a 
            class="{{ theme.buttons.icon }}" 
            href="{{ library.repository }}" 
            target="_blank">
            {{ component('icons~github',theme.icons.action,'svg') }}               
        </a>   
        {% endif %}     
    </div>    
</div>