{% set tab_content_id = content.id|default('tab_content') %}
<nav   
    id="{{ component_id }}"
    class="w-full  tabs tabs-lifted overflow-x-auto {{ class }}" 
    aria-label="Tabs" 
    role="tablist" 
    aria-orientation="horizontal">
    {% for item in items %}    
        {{  component('system:admin.tabs.item',{ 
                tab_content_id: tab_content_id,
                item: item 
            }) 
        }}   
    {% endfor %}  
    <div class="border-b border-gray-200 flex-grow flex flex-row items-center">
    </div>
    <div      
        class="border-b border-gray-200 flex flex-row place-content-end justify-end">
        {% if help is not empty %}  
            {{  component('system:admin.tabs.item',{ 
                    tab_content_id: tab_content_id,
                    item: {
                        title: labels.docs,
                        svg_icon: 'icons~info',
                        component: (help.component is empty) ? 'system:admin.help' : help.component,
                        params: "extension:" ~ help.extension
                    } 
                }) 
            }} 
                        
        {% endif %}   

        {% if menu is not empty %}     
            {{  component('system:admin.tabs.item',{ 
                    tab_content_id: tab_content_id,
                    item: {
                        title: labels.extension,
                        svg_icon: 'icons~puzzle',
                        component: 'system:admin.extensions.extension.details',
                        params: "extension:" ~ menu.extension
                    } 
                }) 
            }}                           
        {% endif %}      
    </div>
</nav>
<div   
    id="{{ tab_content_id }}"
    class="mt-2 {{ content.class }} p-0 h-full w-full"
    role="tabpanel">
    {% if content.component is not empty %}
        {{ component(content.component,content.params|default({})) }}
    {% endif %}
</div>