{% set items = package('library').getPackages(true) %}
{% set selected_text = (selected is empty) ? labels.select : selected %}

<select 
    class="select {{ class }} libraries-dropdown" 
    id="libraries_dropdown">
        <option 
            disabled
            class="text-gray-100" 
            {{ (selected is empty) ? 'selected' : '' }} 
            value="">             
            {{ labels.select }}
        </option> 
    
    {% for item in items %}    
        {% if item not in skip %}    
            {% set package = package('library').createPackage(item).getProperties() %}    
            <option 
                class=""
                {{ package.name|ifthen(selected,'selected') }}
                value="{{ package.name }}">             
                {{ package.title }}
            </option>  
        {% endif %} 
    {% endfor %}   
</select>
