{{  component('system:admin.tabs..vertical',{ 
        items: [
            { 
                svg_icon: 'icons~list',
                active: true,
                component: 'system:admin.libraries.components.view',
                title: labels.view 
            },
            { 
                svg_icon: 'icons~info',
                component: 'system:admin.libraries.components.details',
                title: labels.details 
            }
        ],          
        content: { 
            id: 'components_content',
            component: 'system:admin.libraries.components.view' 
        } 
    })
}}