{% set module = package('module').getPackageProperties(module_name,true) %}
<div class="flex flex-row items-stgart">    
    <div class="w-1/3 {{ theme.panel }}">
        <div class="flex flex-row items-start">
            {{ component('icons~archive',{ size: 'h-14 w-14', color: 'text-blue-500' },'svg') }}
            <div class="ml-2">
                <h4 class="font-bold">
                    {{ module.title }} 
                </h4>                  
                <div class="badge badge-xs badge-outline">
                    {{ labels.version }}
                    <div class="font-bold">
                        {{ module.version }}
                    </div>
                </div>                     
                <div class="mt-2">{{ module.description }}</div>
            </div>                 
        </div>       
        <div class="mt-2">
            {% if module.help is not null %}
            <div class="badge badge-xs badge-outline">
                <a class="" href="{{ module.help }}" target="_blank" {{ labels.help|attr('title') }}>
                    <i class="icon info circle blue"></i>   
                    {{ labels.help }}        
                </a>
            </div>
            {% endif %}
            <div class="badge badge-xs badge-info badge-outline">
                {{ labels.type }}
                <div class="detail text-gray-800">                    
                    {{ module.type }}
                </div>
            </div>      
            {% if module.bootable == true %}
            <div class="badge badge-xs">
                {{ labels.bootable }}
            </div>
            {% endif %} 
            {% if module.facade.alias is not empty %}
            <div class="badge badge-xs badge-info badge-outline">
                {{ labels.facade }}
                <div class="text-gray-800">
                    {{ module.facade.alias }}
                </div>
            </div>       
            {% endif %} 
        </div>
        {% set package = package('module').createPackage(module_name) %}
        {% set items = package.validator.validate() %}  
        {% if items.count > 0 %}                              
            <div class="mt-4">
                {{  component('system:admin.packages.requires',{ 
                        items: items                          
                    }) 
                }}     
            </div>    
            {% if items.composer is not empty %}           
            <div class="mt-4">
                <button class="{{ theme.buttons.green }} update-composer" 
                    name="{{ module_name }}">                        
                    {{ labels.update }}
                </button>      
            </div>                 
            {% endif %}               
        {% endif %}                             
    </div>
    <div class="ml-4 w-2/3 {{ theme.panel }}">
        {{  component('system:admin.packages.repository',{ 
                type: 'module',                    
                package_name: module.name, 
                repository_name: module.get('repository'),
                repository_type: module.get('repository-type',null),
                installed_version: module.version           
            }) 
        }}    
    </div>   
</div>
<div class="mt-4 {{ theme.panel }}">
   {{  component('system:admin.tabs.vertical',{ 
            items: tabs|renderParams({ module_name: module_name }),
            content: {
                id: 'module_items_tab_content',
                component: 'system:admin.list.items',
                params: {
                    module_name: module_name
                }
            }
        }) 
    }}  
</div>