{% if uuid is not empty %}
    {% set language = createModel('Language').findById(uuid) %}
{% endif %}

{% component 'components:tabs.vertical.content' %}
    {% if uuid is empty %}
        {{  component('components:language.dropdown',{ 
                selected: language, 
                name: 'language',
                id: 'language_dropdown',
                class: 'fluid search selection', 
                data_type: 'uuid' 
            }) 
        }}    
    {% endif %}       
    <div class="ui divider"></div>
    <div id="form_content">
    {% if uuid is defined %}
        {{ component('system:admin.languages.language.form',{ uuid: uuid }) }}
    {% endif %}
    </div>
{% endcomponent %}