{% set template = package('template').getPackageProperties(template_name,true) %}
{% set languages = template.toArray()['languages']|default(['en']) %}
<select    
    template="{{ template_name }}"
    name="{{ name|default('languages') }}"
    class="languages-select {{ theme.form.select }} {{ class }}">
    {% for code in languages %}
        <option 
            {{ (selected == code) ? 'selected' : '' }}
            value="{{ code }}">
            {{ code }}
        </option>
    {% endfor %}
</select>
