<div class="ui mini fixed inverted menu borderless dark-color shadow">  
    <div class="ui item tablet mobile only column grid" id="mobile_menu">
        {{ component("system:admin/menu/mobile") }}
    </div> 
    <div title="{{ brand.title }}" class="item pl-0 ml-0">    
        {% if brand.image.src -%}
        <img width="32px" height="32px" alt="{{ brand.image.alt }}" src="{{ system_template_url }}/images/{{ brand.image.src }}">
        {% endif -%}    
        <div class="page-title text-white ml-2 ">
            Arikaim
        </div>
    </div>           
    <div class="ui inverted right menu mr-3 bg-gray-700 dark-color">    
        <div class="ui item tablet computer only column grid">
            <a title="{{ hint.view }}" href="{{ site_url }}" target="site"><i class="icon browser alternate"></i></a>
        </div>   
        <div class="item" id="language-menu">
            {{ component("system:language.dropdown") }}
        </div>
        <div class="ui item tablet computer only column grid" id="user_menu">
            {{ component("system:admin/user-menu") }}
        </div>                             
    </div>    
</div>