<div class="ui center aligned fixed bottom-0 w-full p-4 bg-gray-800">
    <div class="ui five stackable column wide container grid">
        <div class="three wide column">                               
            <a href="http://arikaim.com" class="item text-gray-300" target="arikaim">
                <i class="icon home"></i> 
                Arikaim
            </a>                    
        </div>
        <div class="three wide column">                           
            <a href="http://arikaim.com/license.html" class="item text-gray-300" target="arikaim">
                <i class="icon copyright"></i> 
                License
            </a>                    
        </div>
        <div class="three wide column">                           
            <a href="http://store.arikaim.com" class="item text-gray-300" target="arikaim">
                <i class="icon shopping bag"></i>
                Arikaim Store
            </a>                          
        </div>
        <div class="three wide column">                        
            <a href="http://arikaim.com/documentation" class="item text-gray-300" target="arikaim">
                <i class="icon info circle"></i>
                Documentation
            </a>                               
        </div>
        <div class="three wide column">                   
            <a href="http://arikaim.com/news.html" class="item text-gray-300" target="arikaim">
                <i class="icon newspaper"></i> 
                News
            </a>            
        </div>
    </div>
</div>