{% set details = execute('View\\Html\\HtmlComponent','getComponentDetails',component) %}
<div class="ml-3">
    <div class="ui card">
        <div class="content">
            <h5 class="text font-bold">{{ labels.title }}</h5> 
            <div class="ui divider"></div>          
            <div class="text">{{ labels.auth }}</div> 
            {% set auth = details.options.access.auth %}
            {% if auth is empty %}
                {% set auth = labels.none %}
            {% endif %}
            <div class="ui basic mini blue horizontal label">{{ auth }}</div>  
            <div class="ui divider"></div>                   
            <div class="">{{ labels.permissions }}</div>  
            {{ component("components:labels.permissions",details.options.access.permissions) }}                           
        </div>
    </div>
</div>