{{  component('system:admin.tabs',{ 
        items: [ 
            { 
                title: labels.view.content, 
                component: 'system:admin.extensions.view', 
                svg_icon: 'icons~list', 
                active: true 
            },
            {                
                title: labels.details.content, 
                component: 'system:admin.extensions.extension.details', 
                svg_icon: 'icons~info' 
            }
        ],
        content: { 
            component: 'system:admin.extensions.view' 
        } 
    })
}}

{{  component('system:admin.modal.confirm',{
        id: 'confirm_uninstall_extension',
        content: messages.uninstall.description
    }) 
}}