{% set items = [ 
    { id: 'view_button', title: labels.view.content, component: 'system:admin.extensions.view', icon: 'grid layout', active: true },
    { id: 'details_button', title: labels.details.content, component: 'system:admin.extensions.extension.details', icon: 'edit' },
    { id: 'repository_button', title: labels.repository.content, component: 'system:admin.extensions.repository', icon: 'box open' }
] %}

{{  component('components:tabs',{ 
        items: items,
        content: { component: 'system:admin.extensions.view' } 
    })
}}