{{  component('semantic~tabs',{ 
        items: [ 
            { id: 'view_button', title: labels.view.content, component: 'system:admin.extensions.view', icon: 'grid layout', active: true },
            { id: 'details_button', title: labels.details.content, component: 'system:admin.extensions.extension.details', icon: 'info' },
            { id: 'repository_button', title: labels.repository.content, component: 'system:admin.extensions.repository', icon: 'box open' }
        ],
        content: { component: 'system:admin.extensions.view' } 
    })
}}