<div>
    {% if title is not empty %}
        <h4>{{ title }}</h4>        
    {% endif %}
    <table class="{{ theme.table.class }} {{ table_class }}">
        <thead>
            <tr>
                <th class="four wide"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for property in items %}
            <tr>
                <td class="right aligned">{{ property.title }}</td>
                <td>
                    {% if property.type == 11 %}
                        {{ component('system:admin.language.label',{ class: 'basic label', language: property.value }) }}
                    {% else %}                       
                        {{ property.value|string }}  
                    {% endif %} 
                </td>
            </tr>  
            {% endfor %}
        </tbody>
    </table>
</div>