{% set php_extensions = system().getPhpExtensions() %}
{% set php_stream_wrappers = system().getStreamWrappers() %}
{% set pdo_drivers = system().getPdoDrivers() %}
{% set opcache = system().getOpcache() %}
<h4 class="font-bold my-2">
    {{ labels.cache }}
</h4>
<div class="{{ theme.list.flush }}">
    <div class="flex flex-row items-center">   
        <div class="flex-grow">
            {{ labels.enabled }} 
        </div>       
        {{  component('system:admin.status.icon',{ 
                status: opcache.config.directives['opcache.enable'] 
            }) 
        }}      
    </div>   
    <div class="flex flex-row items-center">     
        <div class="flex-grow">
            {{ labels.memory }}  
        </div>  
        <span class="font-bold">
            {{ opcache.config.directives['opcache.memory_consumption'] }}
        </span>       
    </div>       
    <div class="flex flex-row items-center">
        <div class="flex-grow">
            {{ labels.scripts }}
        </div>      
        <span class="font-bold">
        {{ opcache.status['opcache_statistics']['num_cached_scripts'] }}
        </span>
    </div>    
</div>

<h4 class="font-bold my-2">
    {{ labels.pdo }}
</h4>

{% for item in pdo_drivers %}
    <div class="badge badge-sm badge-outline">{{ item }}</div>
{% endfor %}

<h4 class="font-bold my-2">
    {{ labels.stream }}
</h4>

{% for item in php_stream_wrappers %}
    <div class="badge badge-sm badge-outline">{{ item }}</div>
{% endfor %}

<h4 class="font-bold my-2">
    {{ labels.extensions }}
</h4>

<div class="{{ theme.list.flush }}">
    {% for item in php_extensions %}
        <div class="flex flex-row items-center">
            {{ component('icons~puzzle',theme.icons.gray,'svg') }}
            <div class="ml-2 flex-grow flex flex-row items-center">
                <div class="text-sm font-bold flex-grow">
                      {{ item.name }}
                </div>              
                {% if item.version != "" %}                      
                    <div class="ml-1 badge badge-xs badge-outline">                       
                        {{ item.version }}                                     
                    </div>                       
                {% endif %}               
            </div>
        </div>
    {% endfor %}
</div>   