<div class="ui left fluid accordion vertical borderless pointing inverted menu admin-menu-shadow dark-background admin-menu full-height margin-top-1" id="admin_menu">      
    <div class="ui horizontal divider"></div>  
    <div id="extensions_menu">
        {# get status -1 active , type = 0 - user #}
        {{ component("system:admin/menu/extensions",{status: 1,type: 0}) }}
    </div>
    <div class="ui horizontal divider">
        <h5 class="tiny header">
            <button id="system_menu_button" class="ui olive icon basic button mini circular"><i class="dropdown icon"></i></button>
        </h5>
    </div>
    <div id="system_menu">
        {{ component("system:admin/menu/system") }}
    </div>    
</div>