{% if extension_name is not empty %}
    {% set extension = package('extension').getPackageProperties(extension_name,true) %}
    {% set components = extension.components %}
{% endif %}
{% if template_name is not empty %}
    {% set template = package('template').getPackageProperties(template_name,true) %}
    {% set components = template.components %}
{% endif %}

<div class="{{ theme.list.default }}">
    {% if components is empty %}
        <div class="px-2">..</div>
    {% endif %}
    {% for component in components %}        
        <div class="flex fle-row items-center">
            {{ component('icons~code',theme.icons.blue,'svg') }}   
            <div class="ml-2">
                {{ component.full_name }}            
            </div>           
        </div>
    {% endfor %}
</div>