{% set login_with = getOption('users.login.with',1) %}
{% set captcha_protect = getOption('users.login.captcha.protect',true) %}

<div class="{{ styles.border }} {{ styles.space }} {{ styles.color }}"> 
    <h1 class="flex items-center {{ styles.title.class }}">
        {{ component(styles.title.icon.name,styles.title.icon,'svg') }}  
        <div class="pl-2 font-bold {{ styles.title.color }}">
            {{ title }}
        </div>
    </h1>
    <form class="{{ styles.form }}" id="login_form" method="POST">
        {% if login_with == 1 or login_with == 3 %}
            <div class="{{ styles.field }}">                             
                <input 
                    class="form-input {{ styles.input.class }}"
                    type="text" 
                    rule="minLength[2]"
                    name="user_name" 
                    id="user_name" 
                    {{ fields.user_name.placeholder|attr("placeholder") }}> 
                <label class="{{ styles.label }}">
                    {{ fields.user_name.label }}
                </label>    
                                 
            </div>
        {% else %}
        <div class="{{ styles.field }}">                        
            <input 
                class="form-input {{ styles.input.class }}"
                type="email" 
                rule="email"
                name="email" 
                id="email" 
                {{ fields.email.placeholder|attr("placeholder") }}>
                <label class="{{ styles.label }}">
                    {{ fields.email.label }}
                </label>         
                  
        </div>        
        {% endif %}
        <div class="{{ styles.field }}">                
            <div class="relative z-0">
                <input 
                    class="z-0 form-input {{ styles.input.class }}"
                    type="password" 
                    rule="minLength[4]"
                    name="password" 
                    id="password" 
                    {{ fields.password.placeholder|attr("placeholder") }}>  
                <div class="absolute view-password cursor-pointer inset-y-0 right-0 flex items-center pr-2">
                    {{ component('icons~eye',styles.input.icon,'svg') }}
                </div>
                <label class="{{ styles.label }}">
                    {{ fields.password.label }}
                </label>
              
            </div>
        </div>   
        <div class="field flex flex-row items-center">              
            <input class="form-input checkbox checkbox-primary checkbox-sm" 
                type="checkbox" 
                name="remember" 
                id="remember" 
                value="1">    
            <label class="px-2 text-sm dark:text-gray-200">
                {{ fields.remember.label }}
            </label>
        </div>             
        <div class="{{ styles.field }}" id="captcha_panel">            
            {% if captcha_protect == true %}           
                {{ component('captcha::code') }}                
            {% endif %}   
        </div>    
        <div class="mt-8">
            {{  component('system:form.footer',{ 
                    button_title: buttons.login     
                }) 
            }}  
        </div>   
    </form>               
</div>
