{{  component('system:admin.tabs',{ 
        items: [    
            { 
                title: labels.package.content, 
                component: 'system:admin.modules.view', 
                svg_icon: 'icons~info', 
                active: true, 
                params: 'type:package'
            },
            { 
                title: labels.middleware.content, 
                component: 'system:admin.modules.view', 
                svg_icon: 'icons~code', 
                params: 'type:middleware'
            },    
            {         
                title: labels.drivers.content, 
                component: 'system:admin.modules.drivers', 
                svg_icon: 'icons~code'
            },
            {             
                title: labels.composer.content, 
                component: 'system:admin.modules.composer', 
                svg_icon: 'icons~code'
            }           
        ],
        content: { 
            component: 'system:admin.modules.view', 
            params: { type: 'package' } 
        } 
    })
}}