{% set selected = items[status] %}
{% set skip = (skip is empty) ? [2] : skip %}   
{% set empty_label = empty_label|default(text.status) %}

<select 
    name="{{ name }}"
    uuid="{{ uuid }}"
    {{ attributes|attr() }}
    class="select {{ class }} status-dropdown {{ size|default('select-xs') }}" 
    id="{{ id|default('status_dropdown') }}">
       
    {% if all == true %}
        <option 
            {{ (selected is empty) ? 'selected' : '' }} 
            value="">
            {{ text.all }}
        </option>
    {% endif %}

    {% for label in items %}    
        {% if label.index not in skip %}             
            <option 
                class="text-green-500"
                {{ (label.index is same as(selected.index)) ? 'selected' : '' }}               
                value="{{ label.index }}">          
                <span class="text-green-500">
                    {{ label.title }}
                </span>                     
            </option>  
        {% endif %} 
    {% endfor %}   
</select>