{%- macro includeTemplateFiles() -%}
{%- set files = getTemplateFiles() %}
{%- set theme = getThemeFiles() %}
{%- if theme %} 
    <!-- theme files -->
    {% for file in theme %}
        <link rel="stylesheet" type="text/css" href="{{ file }}"> 
    {% endfor -%}    
{% endif %}
{%- if files.js or files.css %}
    <!-- template files -->
    {% for file in files.js -%}
        <script src="{{ file }}" type="text/javascript"></script>
    {% endfor %}
    {% for file in files.css %}
        <link rel="stylesheet" type="text/css" href="{{ file }}">      
    {% endfor %}
{% endif -%}
{% endmacro includeTemplateFiles -%}

{%- macro includeComponentFiles() -%}
{% set files = getComponentsFiles() %}
    <!-- component files -->
    {% for file in files.js -%}
        <script src="{{ file.url }}" type="text/javascript"></script>
    {% endfor -%}
    {% for file in files.css -%}
        <link rel="stylesheet" type="text/css" href="{{ file.url }}">
    {% endfor -%}
{% endmacro includeComponentFiles %}

{%- macro includePageFiles() -%}
    <!-- page files -->
    {%- set files = getPageFiles() -%}
    {%- for file in files.js %}
        <script src="{{ file.url }}" type="text/javascript"></script>
    {%- endfor %}
    {%- for file in files.css %}
        <link rel="stylesheet" type="text/css" href="{{ file.url }}">      
    {%- endfor -%}
{%- endmacro includePageFiles -%}

{%- macro includeLibraries() -%}
{%- set files = getLibraryFiles() -%}
<!-- library files -->
{%- for file in files -%} 
    {% if file.params is iterable %}
        {% set params_attributes = '' %}
        {% for param_name,param_value in file.params %}
            {% set params_attributes = params_attributes ~ param_name ~ '="' ~ param_value ~ '"' %}
        {% endfor %}
    {% endif %}      
    {%- if file.type == "js" %} 
        <script id="library_{{ file.library }}" type="text/javascript" src="{{ file.file }}"{{ params_attributes|raw }}></script>
    {%- endif %}
    {%- if file.type == "css" %} 
        <link rel="stylesheet" type="text/css" href="{{ file.file }}">
    {%- endif -%}
{%- endfor %}
{%- endmacro includeLibraries -%}