{%- macro labels(text,separator,class) %}
{% if text != "" %}
    {% set words = text|split(separator) %}
    {% for word in words %}
    <span class="ui label {{ class }}">{{ word }}</span>
    {% endfor %}
{% endif %}
{%- endmacro labels -%}

{%- macro getStatusIcon(status,active_class,disabled_css) %}
{% if status == 1 %}
    <i class="icon olive checkmark {{ active_class }}"></i>
{% else %}
    <i class="icon remove orange {{ disabled_css }}"></i>
{% endif %}
{%- endmacro getStatusIcon -%}

{%- macro permissionsLabel(permissions,labels) %}
{% if permissions is empty %}
    <div class="ui mini basic blue label">{{ labels.none }}</div>
{% else %}
    {% for key,item in permissions %}
    <div class="ui basic fluid blue label">{{ key }}
        <div class="detail">
        {% for permission in item %}
            <span class="dark-color underline">{{ permission }}</span>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
{% endif %}  
{%- endmacro permissionsLabel -%}