{%- macro languagesList(selected,attributes) %}
{% set items = dbQuery("Language") %}
<div class="ui fluid search selection dropdown {{ attributes.class }}" id="language_dropdown">    
    <input name="{{ attributes.name }}" type="hidden" value="{{ selected }}">
    <i class="dropdown icon"></i>   
    <div class="default text">{{ attributes.label }}</div>
    <div class="menu">   
    {% for item in items %}
        <div class="item" data-value="{{ item.uuid }}"><i class="flag {{ item.country_code|lower }}"></i>{{ item.title }}</div>      
    {% endfor %}
    </div>
</div>
{% endmacro languagesList -%}

{# Show language dropdown #}
{%- macro languageDropdown(selected,attributes) %}
{% set current_language = getLanguage() %}
{% set selected = selected|defaultValue(current_language) %}
{% set class = attributes.class|defaultValue('selection') %}
{% set id = attributes.id|defaultValue('language_dropdown') %}
{% set name = attributes.name|defaultValue('language') %}

{% set order_by = orderBy('default','desc') %}
{% set order_by = orderBy('position','asc',order_by) %}
{% set query_filter = condition('status','=',1,order_by) %}

{% set items = dbQuery("Language",query_filter) %}
<div class="ui search dropdown {{ class }}" id="{{ id }}">  
    <input name="{{ name }}" type="hidden" value="{{ selected }}">
    <i class="dropdown icon"></i>   
    <div class="default text">{{ attributes.label }}</div>
    <div class="menu">   
    {% for item in items %}
        <div class="item" data-value="{{ item.code }}"><i class="flag {{ item.country_code|lower }}"></i>{{ item.title }}</div>      
    {% endfor %}
    </div>
</div>
{% endmacro languageDropdown -%}

{%- macro languages(selected,attributes) %}
{% set items = componentProperties("system:config.languages") %}
<div class="ui fluid search selection dropdown {{ attributes.class }}" id="languages_list">    
    <input name="{{ attributes.name }}" type="hidden" value="{{ selected }}">
    <i class="dropdown icon"></i>   
    <div class="default text">{{ attributes.label }}</div>
    <div class="menu">   
    {% for item in items %}
        <div class="item" data-value="{{ item.code }}">{{ item.title }}</div>      
    {% endfor %}
    </div>
</div>
{% endmacro languages -%}

{# Show language menu #}
{%- macro languageMenu(options,attributes) %}
{% set current_language = getCurrentLanguage() %}
{% set order_by = orderBy('default','desc') %}
{% set order_by = orderBy('position','asc',order_by) %}
{% set query_filter = condition('status','=',1,order_by) %}
{% set items = dbQuery("Language",query_filter) %}
<div class="ui icon inline top right pointing dropdown {{ class }}" id="language_menu">      
    <i class="flag {{ current_language.country_code }}" title="{{ current_language.title }}"></i>
    {% if options.show_title == true and current_language != null %}      
        {{ current_language.title }}
    {% endif %}
    <div class="ui mini vertical menu">  
    {% if attributes.title != "" %} 
        <div class="ui header">{{ attributes.title }}</div>
    {% endif %}
    {% for item in items %}
        <div title="{{ item.title }}" class="item {{ item.code|ifthen(current_language,'active') }}" data-value="{{ item.code }}">
            <i class="flag {{ item.country_code|lower }}"></i>
            {% if options.show_native_title == true %}
                {{ item.native_title }}
            {% else %}
                {{ item.title }}
            {% endif %}
        </div>      
    {% endfor %}
    </div>
</div>
{% endmacro languageMenu -%}