{% set info = execute("System\\System","getSystemInfo")  %}
{% set core_packages = execute("System\\Update","getCorePackagesList",1)  %}
{% set core = execute("System\\Update","getCoreInfo")  %}
<div>
    <div class="ui header">
        Arikaim CMS
    </div>    
    {{ labels.version }} <span class="margin-left-1 small text"> <div class="ui label">{{ info.cms_version }}</div></span> 
    <div class="ui hidden divider"></div>
    <div class="header">
        {{ labels.core }}               
    </div>
    <div>
        <i class="icon archive"></i>
        {% for package in core_packages %}
            {{ package.name }} <span class="ui label">{{ package.version }}</span>   
        {% endfor %}   
    </div>
    {% if hide_update_button != true %}
    <button class="ui basic button margin-top-2" id="update_button" version="{{ package.version }}">
        <i class="icon download"></i>
        {{ buttons.update.content }}
    </button>        
    {% endif %}
</div>