{% set cron = service('queue').createWorkerManager() %}
<div class="ui segment">
    <div class="ui divided grid">
        <div class="six wide column">
            <h3 class="header">
                {% if cron.isRunning() == true %}    
                    <i class="check olive icon" title="{{ labels.installed }}"></i>
                    {% set details = cron.getDetails() %}
                {% else %}  
                    <i class="exclamation triangle orange icon" title="{{ labels.disabled }}"></i>
                {% endif %}
                {{ labels.title }}
            </h3>
            {% if demo_mode == true %}
                <div class="ui warning message">
                    {{ labels.demo }}
                </div>
            {% else %}
                {% if cron.isRunning() == true %}    
                    <div class="ui list">                
                        <div class="item">
                            <strong>{{ labels.user }}</strong> 
                            <div class="ui basic label">
                                {{ details.user }}
                            </div>
                        </div>       
                    </div>
                    <button class="ui basic button" id="uninstall_cron">
                        <i class="icon orange trash"></i>
                        {{ buttons.uninstall }}
                    </button>
                {% else %}
                    <button class="ui basic button" id="install_cron">
                        <i class="download icon olive"></i>
                        {{ buttons.install }}
                    </button>
                {% endif %}
            {% endif %}
        </div>
        <div class="ten wide column">
            <div class="ui basic label">
                <span class="ui blue text">{{ labels.command }}</span>
                <span class="pl-4">
                    {{ cron.getCronCommand() }}
                </span>
            </div>  
            <div class="mt-8">
                {% if demo_mode != true %}
                <button class="ui mini basic icon labeled button run-cron">
                    <i class="icon play"></i>
                    {{ buttons.run }}
                </button>
                {% endif %}
            </div>      
            <div class="mt-4" id="cron_run_result">
            </div>
        </div>
    </div> 
</div>
<div class="ui segment">
    {{ component("system:admin.system.cron.jobs") }}
</div>
