{% set module = package('module').getPackageProperties(module_name,true) %}
<div class="{{ theme.card.default }}" 
    id="{{ module.name }}">
    <div class="flex flex-row items-center pb-2">  
        {% if icon is not empty %}
           {{ component(icon,theme.icons.action,'svg') }}
        {% endif %}     
        <div class="flex-grow px-2 font-bold">
            {{ module.title }}        
        </div>
        <div class="self-end flex flex-row items-center">  
            {% if module.installed == true %}
                {% if module.status == 0 %}    
                    {{ component('icons~close',theme.icons.delete,'svg') }}                                    
                {% else %}
                    {{ component('icons~check',theme.icons.green,'svg') }}                    
                {% endif %}
                {% if module.error != false %}
                    {{ component('icons~alert',theme.icons.delete,'svg') }}                       
                {% endif %}
            {% endif %}                                
            {% if module.help is not null %}
            <div class="mx-2 badge badge-outline badge-success badge-xs">
                <a class="" href="{{ module.help }}" target="_blank" {{ labels.help|attr('title') }}>               
                    {{ labels.help }}        
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="flex-grow">
        <div class="px-1">
            <div class="badge badge-xs badge-outline">
                {{ labels.version }}
                <div class="detail">{{ module.version }}</div>
            </div>  
            <div class="badge badge-xs badge-outline badge-primary">
                {{ labels.type }}
                <div class="font-bold text-gray-800">                    
                    {{ module.type }}
                </div>
            </div>      
            {% if module.bootable == true %}
            <div class="badge badge-xs badge-secondary">
                {{ labels.bootable }}
            </div>
            {% endif %} 
            {% if module.facade.alias is not empty %}
            <div class="badge badge-xs badge-secondary">
                {{ labels.facade }}
                <div class="font-bold text-gray-800">
                    {{ module.facade.alias }}
                </div>
            </div>       
            {% endif %} 
        </div>
        <div
            class="pt-12 h-full min-h-full flex flex-col flex-grow">
            {{ module.description }}
        </div>                           
    </div>      
    <div       
        class="mt-4">
        {% if module.error is not empty %}
        <div class="alert alert-error alert-sm">
            {{ labels.error }}
            <div class="font-bold text-gray-800">
                {{ module.error }}
            </div>
        </div> 
        {% endif %}
    </div>
    <div class="mt-4">
        <div 
            class="alert alert-success alert-xs message opacity-0 m-2" 
            id="message_{{ module.name }}">
        </div>
    </div>  
    <div
        class="join flex flex-row items-center">
        {% if module.installed == true %}
            <button 
                class="join-item {{ theme.buttons.green }} update-button module-button" 
                name="{{ module.name }}">                    
                {{ labels.update }}
            </button>
            {% if module.status == 1 %}
            <button 
                class="join-item {{ theme.buttons.delete }} disable-button module-button" 
                name="{{ module.name }}"> 
                <span class="text-gray-800">{{ labels.disable }}</span>
            </button>
            {% else %}
            <button 
                class="join-item {{ theme.buttons.green }} enable-button module-button" 
                name="{{ module.name }}"> 
                <span class="text-gray-800">{{ labels.enable }}</span>
            </button>
            {% endif %}
        {% else %}
            <button class="join-item {{ theme.buttons.green }} module-button install-button" 
                name="{{ module.name }}">               
                {{ labels.install }}
            </button>
        {% endif %}            
        <button 
            class="join-item {{ theme.buttons.default }} module-button details-button" 
            name="{{ module.name }}"
            title="{{ labels.details }}">    
            {{ labels.details }}        
        </button>                      
    </div>
</div>