{% set template = package('template').getPackageProperties(template_name,true) %}
<div class="mt-4 flex flex-row items-start">
    <div class="w-1/4">
        {{  component('system:admin.templates.template',{ 
                template_name: template_name,
                show_buttons: 0,
                show_requires: true, 
                class: ''
            }) 
        }}
    </div>
    <div class="ml-4 w-3/4">
        <div class="{{ theme.panel }}">
            {{  component('system:admin.packages.repository',{ 
                    type: 'template',
                    package_name: template.name,
                    repository_name: template.get('repository'),
                    repository_type: template.get('repository-type',null),
                    confirm_overwrite: true,
                    installed_version: template.version   
                }) 
            }}
        </div>
        <div class="mt-4 {{ theme.panel }}">
            {{  component('system:admin.tabs.vertical',{ 
                    items: tabs|renderParams({ template_name: template_name }),
                    content: {
                        id: 'template_items_tab_content',
                        component: 'system:admin.component',
                        params: {
                            template_name: template_name
                        }
                    }
                }) 
            }}            
        </div>        
    </div>   
</div>