{% set drivers = service('driver').getList(category) %}
{% set empty = empty|default(label.empty) %}

<div class="{{ theme.list.default }}">    
    {% if drivers is empty %}  
    <div class="item">    
        <div class="ui message">
            {{ empty }}
        </div>
    </div>
    {% endif %}
    {% for driver in drivers %}    
    <div class="flex flex-row items-center">           
        {% if editable == true %}
            {{  component('semantic~dropdown.enable',{ 
                    selected: driver.status,
                    class: 'mini inline icon basic button change-driver-status', 
                    attributes: {
                        driver_name: driver.name 
                    },
                    show_label: false
                }) 
            }}                   
        {% else %}
            {% if (driver.status == 1) %}
            <i class="icon olive check" title="{{ label.active }}"></i>
            {% endif %}  
        {% endif %}
        {% if hide_config != true %}
            <button
                class="{{ theme.buttons.icon }} driver-config" 
                title="{{ label.settings }}" 
                driver-name="{{ driver.name }}">
                {{ component('icons~cog',theme.icons.action,'svg') }}
            </button>
        {% endif %}
        {% for button in buttons %}
        <a 
            class="ui mini basic icon button {{ button.class }}" 
            title="{{ button.title }}" 
            driver-name="{{ driver.name }}">
            <i class="icon {{ button.icon }}"></i>
        </a>  
        {% endfor %}
        {% if driver.name == current %}
            <div class="ml-1 badge badge-success">{{ label.current }}</div>
        {% endif %}
        <div class="flx flex-col ml-2">
            <div class="font-bold">{{ driver.title }}</div>
            <div class="description">{{ driver.description }}</div>
        </div> 
    </div>
    {% endfor %}
</div>