<div class="grid grid-cols-3">    
    <div class="{{ theme.panel }}">
        <h4 class="font-bold">             
            {{ title }}
        </h4>
        {% if demo_mode != true %}
        <form class="form mt-8" id="user_password_form">  
            <div class="field {{ theme.form.field }}">
                <label class="{{ theme.form.label }}">
                    {{ fields.password.label }}
                </label>
                <input 
                    class="{{ theme.form.input }}"
                    rule="minLength[2]" 
                    type="password" 
                    name="password" 
                    id="password" 
                    {{ fields.password.placeholder|attr("placeholder") }} 
                    value="">             
            </div>
            <div class="field {{ theme.form.field }}">
                <label class="{{ theme.form.label }}">
                    {{ fields.new_password.label }}
                </label>
                <input 
                    class="{{ theme.form.input }}"
                    rule="minLength[5]" 
                    type="password" 
                    name="new_password" 
                    id="new_password" 
                    {{ fields.new_password.placeholder|attr("placeholder") }} 
                    value="">              
            </div>
            <div class="field {{ theme.form.field }}">
                 <label class="{{ theme.form.label }}">
                    {{ fields.repeat_password.label }}
                </label>
                <input 
                    class="{{ theme.form.input }}"
                    rule="minLength[5]" 
                    type="password" 
                    name="repeat_password" 
                    id="repeat_password" 
                    {{ fields.repeat_password.placeholder|attr("placeholder") }} 
                    value="">                                
            </div>          
            {% if demo_mode == false %}
                {{ component('system:form.footer') }}     
            {% endif %}            
        </form>
        {% else %}
        <div class="ui warning message">
            {{ labels.demo }}
        </div>
        {% endif %}
    </div>   
</div>