<table class="ui very basic padded table">
    <tbody>
        {% for key, value in stats %}
        <tr>
            <td class="collapsing font-bold">{{ key }}</td>
            <td>   
                {% if value is iterable %}   
                    <ul>
                    {% for key, item_value in value %}
                        <li>
                            {{ key }} : {{ item_value|dump }}
                        </li>
                    {% endfor %}    
                    </ul>  
                {% else %}  
                    {{ value|dump }}
                {% endif %}             
            </td>
        </tr>
        {% endfor %}        
    </tbody>    
</table>   