{% set items = [ 
    { id: 'view_button', title: labels.view.content, component: 'system:admin.libraries.view', icon: 'grid layout', active: true },
    { id: 'download_button', title: labels.upload.content, component: 'system:admin.libraries.upload', icon: 'upload' },
    { id: 'repository_button', title: labels.repository.content, component: 'system:admin.libraries.repository', icon: 'download' }
] %}

{{  component('components:tabs',{ 
        items: items,
        content: { component: 'system:admin.libraries.view' } 
    })
}}