{{  component('system:admin.tabs',{ 
        items: [ 
            { 
                title: labels.view.content, 
                component: 'system:admin.libraries.view', 
                svg_icon: 'icons~list', 
                active: true 
            },
            { 
                title: labels.details.content, 
                component: 'system:admin.libraries.library.details', 
                svg_icon: 'icons~info'
            },              
            { 
                title: labels.components.content, 
                component: 'system:admin.libraries.components', 
                svg_icon: 'icons~cube'
            }
        ],
        content: { 
            component: 'system:admin.libraries.view' 
        } 
    })
}}