{% set list = service('driver').getList() %}
{% set paginator = paginate(list,'drivers')  %}
    
{% for item in paginator.getItems() %}
<tr 
    id="{{ item.uuid }}" 
    name="{{ item.name }}" 
    category="{{ item.category }}">        
    <td class="two wide">
        <button 
            mountTo="driver_details"
            component="system:admin.modules.drivers.details"
            class="{{ theme.buttons.icon }} driver-details" 
            title="{{ labels.details }}"
            params="driver_name:{{ item.name }}">
            {{ component('icons~info',theme.icons.blue,'svg') }}
        </button>
        <button 
            class="{{ theme.buttons.icon }} driver-config" 
            title="{{ labels.config }}"
            name="{{ item.name }}" 
            category="{{ item.category }}">
            {{ component('icons~cog',theme.icons.blue,'svg') }}
        </button>
        {% if hide_uninstall != true %} 
        <button 
            class="{{ theme.buttons.icon }} driver-uninstall" 
            title="{{ labels.uninstall }}"
            name="{{ item.name }}" 
            uuid="{{ item.uuid }}"
            category="{{ item.category }}">
             {{ component('icons~trash',theme.icons.delete,'svg') }}
        </button>       
        {% endif %}    
    </td>
    <td class="three wide column">
        <input 
            driver-name="{{ item.name }}"
            type="checkbox"
            value="1"
            {{ (item.status == 1) ? 'checked' : '' }}
            class="switch switch-xs switch-success status-switch">      
    </td>
    <td class="five wide column">{{ item.name }}</td>
    <td>{{ item.category }}</td>
    <td>{{ item.title }}</td>          
</tr>
{% endfor %}
<tr>
    <td colspan="8">
        {{ component("semantic~paginator",items.paginator) }}
    </td> 
</tr>