{% set events = createModel('Events').orderBy('name') %}
{% set core_only = searchValue('core_only',false) %}
{% set paginator = paginate(events,'events') %}

{% for event in paginator.getItems() %}
    <li class="px-4 py-4 grid sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0 text-base">
        <div class="ml-4 flex flex-row items-center">                  
            <div class="flex flex-row items-center">
                <a class="flex flex-row items-center link event-details" uuid="{{ event.uuid }}">
                    {{ component('icons~calendar',theme.icons.menu,'svg') }}
                    <div class="px-4">
                        {{ event.name }}
                    </div>
                </a>                              
            </div>              
        </div>     
        <div class="px-2 flex-grow">
            {{ event.title }}
        </div>       
        <div class="badge badge-outline">
                {% if event.extension_name is not empty %}
                    {{ labels.extension }}
                    <div class="font-bold">                       
                        {{ event.extension_name }}                                
                    </div>
                {% else %}
                core
                {% endif %}
        </div>         
                                               
    </li>
{% endfor %}