{% set extension = extension|default('*') %}
{% if model_name is empty %}
    {% set relations = service('db').getRelationsMap() %}
    {% set model_name = relations[type] %}
{% endif %}
{% set model = createModel(model_name,'*').findById(uuid) %}
{% if model is empty %}
    {{ component('system:admin.alert.error',{ message: error }) }}
{% else %}
<div>  
    <h4 class="bg-gray-300 p-4">{{ model_name|baseClass }}</h4>
    <table class="{{ theme.table.details }}">
        {% for key,value in model.toArray() %}     
        <tr>
            <td class="font-bold">{{ key|titleCase }}</td>
            <td class="px-2">
                {% if value is iterable %}
                    {{ value|dump }}
                {% else %}
                    {{ value|string|sliceLabel(30,'...') }}
                {% endif %}
            </td>
        </tr>         
        {% endfor %}     
    </table>       
    <table class="{{ theme.table.details }}">            
        <tr>
            <td class="w-1/2">{{ labels.class }}</td>
            <td class="w-1/2">{{ model_name }}</td>
        </tr>   
        <tr>
            <td class="w-1/2">{{ labels.relation }}</td>
            <td class="w-1/2">{{ type }}</td>
        </tr>                          
    </table>          
</div>
{% endif %}