{% import systemMacro('icons.html') as macros %}
{% set providers = execute('Module\\ProvidersManager','getProviders') %}
<button class="ui basic button olive" id="install_providers">
    <i class="icon sync"></i>
    <span class="dark-color">{{ labels.update }}</span>
</button>
<div class="ui stackable grid margin-top-1" id="providers">
    <table class="ui compact stackable striped very basic table">
        <thead>
            <tr class="borderless">               
                <th class="single line" colspan="2">{{ columns.name }}</th>
                <th>{{ columns.category }}</th>
                <th>{{ columns.title }}</th>
                <th>{{ columns.class }}</th> 
                <th>{{ columns.type }}</th>
                <th>{{ columns.version }}</th> 
                <th>{{ columns.help }}</th> 
                <th>{{ columns.action }}</th>    
            </tr>
        </thead>
            <tbody>
            {% if providers is not iterable %}
                <tr>
                    <td colspan="7">..</td>
                </tr>
            {% else %}
                {% for provider in providers %} 
                <tr id="{{ provider.name }}" >
                    <td class="collapsing">
                        {{ macros.getStatusIcon(provider.status ) }}                           
                    </td>
                    <td class="collapsing">{{ provider.name }}</td>
                    <td class="collapsing">{{ provider.category }}</td>
                    <td>{{ provider.title }}</td>
                    <td>{{ provider.class_name }}</td>  
                    <td class="collapsing">{{ provider.type }}</td>
                    <td class="collapsing">{{ provider.version }}</td>  
                    <td class="cenetr align collapsing">
                        {% if provider.help_url is not empty %}
                        <A href="{{ provider.help_url }}" target="_help">
                            <i class="linkify icon"></i>
                        </A>
                        {% endif %}
                    </td>             
                    <td class="collapsing">
                        {% if provider.status == 1 %}
                        <button class="ui mini basic button red disable-button">
                            <span class="dark-color">{{ labels.disable }}</span>
                        </button>
                        {% endif %}
                    </td>           
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>  
    </table>
</div>