<div class="{{ theme.list.default }}">
    {% if items is empty %}
        <div class="item">{{ labels.empty }}</div>
    {% endif %}
    {% for item in items %}
    <div class="flex flex-row items-center">
        <i class="icon grey middle aligned {{ icon }}"></i>
        <div class="flex flex-row items-center">
            <div class="font-bold">{{ item.name }}</div>
            <div class="description">
                {{ item.title }}
                {% if item.help is defined %}                   
                    <div class="badge badge-sm badge-outline">                                             
                        <div class="font-bold">
                            {% if help_icon is not empty %}
                                <i class="icon {{ help_icon }}"></i>       
                            {% endif %}
                            {{ item.help }}
                        </div>
                    </div>                   
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>