<div class="{{ theme.list.default }}">
    {% if items is empty %}
        <div class="item">{{ labels.empty }}</div>
    {% endif %}
    {% for item in items %}
    <div class="flex flex-row items-center">
        {% if icon is defined %}  
            {{ component(icon,theme.icons.action,'svg') }}   
        {% endif %}        
        <div class="font-bold mx-4">
            {{ item.name }}
        </div>
        <div          
            class="flex-grow flex flex-row items-center">
            <div                
                class="flex-grow">
                {{ item.title }}
            </div>               
            {% if item.help is defined %}                   
                <div class="ml-2 badge badge-sm badge-outline">                                             
                    <div class="font-bold">
                        {{ item.help }}
                    </div>
                </div>                   
            {% endif %}
        </div>       
    </div>
    {% endfor %}
</div>