{{  component('system:admin.tabs',{ 
        items: [ 
            { 
                title: labels.settings.content, 
                component: 'system:admin.system.settings',              
                svg_icon: 'icons~cog',
                active: true 
            },
            { 
                title: labels.logs.content, 
                component: 'system:admin.system.logs', 
                svg_icon: 'icons~cog',              
            },
            { 
                title: labels.events.content, 
                component: 'system:admin.system.events', 
                svg_icon: 'icons~calendar' 
            },    
            { 
                title: labels.info.content, 
                component: 'system:admin.system.info',              
                svg_icon: 'icons~info',
            },  
        ],
        content: { 
            component: 'system:admin.system.settings' 
        } 
    })
}}