{{  component('system:admin.tabs',{ 
        items: [ 
            { 
                title: labels.settings.content, 
                component: 'system:admin.system.settings', 
                icon: 'cogs', 
                svg_icon: 'icons~cog',
                active: true 
            },
            { 
                title: labels.logs.content, 
                component: 'system:admin.system.logs', 
                svg_icon: 'icons~cog',
                icon: 'warning circle' 
            },
            { 
                title: labels.events.content, 
                component: 'system:admin.system.events', 
                icon: 'calendar alternate outline' 
            },    
            { 
                title: labels.info.content, 
                component: 'system:admin.system.info', 
                icon: 'info circle',
                svg_icon: 'icons~info',
            },  
        ],
        content: { 
            component: 'system:admin.system.settings' 
        } 
    })
}}